html{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    margin: 0;
}
main{
    margin-left: 20px;
    margin-right: 20px;
}
h1{
    text-align: center;
}
main h1{
    text-align: start;
}
.navbar ul{
    list-style-type: none;
    background-color: rgb(40, 40, 40);
    margin: 0px ;
    padding: 0;
    overflow: hidden;
    display: flex;
    /* justify-content: space-evenly; */

}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    justify-content: space-evenly;
    
}
.navbar a:hover{
   background-color: rgb(16, 16, 16);
}
.navbar li{
    float: left;
}